h1{
    text-align:center;
    font-size: 80px;
    background-color:rgb(156, 130, 59);
}

.titulos{
text-align: center;
    font-size: 40px;
    color: burlywood;
    font-weight: bold;
}

#hobbies_principales{
    color: blueviolet;
    font-weight: bold;
}